body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pwrap {
    width: 1050px;
    margin: 0 auto;
}

.page {
    padding-right: 50px;
    padding-bottom: 500px;
    padding-left: 50px;
    padding-top: 0px;
    background-color: white;
    height: 8000x;
    width: 1050px;
    max-width: 100%;
    max-height: 100%;
}

.mtitle {
    margin: 15px;
    margin-right: 20px;
    text-align: center;
    font-family: "American Typewriter", serif;
    color: black;
    font-size: 40px;
    width: 100%;
    font-weight: 900;
    opacity: 0.8;
}

.stitle {
    margin: 15px;
    margin-right: 20px;
    font-family: "American Typewriter", serif;
    font-size: 40px;
    width: 100%;
    font-weight: 900;
    background-color: rgb(255, 193, 193);
    opacity: 0.8;
}

.dispcard {
    border-color: black;
    border-style: inset;
    border-width: 1px;
    padding: 4px;
    float: left;
    margin: 15px;
}

.content {
    border-color: black;
    border-width: 2px;
    margin: 15px;
}

f {
    font-size: 14px;
    font-weight: 700;
    margin: 5px;
}

g {
    font-size: 12px;
}

e {
    margin: 40px;
    padding-right: 70px;
    padding-left: 70px;
}

li.deck {
    border-color: black;
    border-width: 1px;
    border-style: outset;
    color: black;
    padding: 12px 150px;
    text-decoration: none;
    font-size: 14px;
    margin: 10px 20px;
    cursor: pointer;
    font-weight: 1000;
    width: 80%;
    opacity: 0.85;
    background-image: url(pics/mart1.jpg)
}

ul.deck {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    padding-bottom: 10px;
    width: 45%;
    float: left;
}

li.card {
    /*63 x 88 mm  0.7159090909*/
    background-color: red;
    color: black;
    padding: 88px 63px;
    text-decoration: none;
    font-size: 14px;
    margin: 40px 40px;
    cursor: pointer;
    float: left;
    background-image: url(pics/phoenix.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

ul.card {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    padding-bottom: 10px;
}

ul.a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: yellow;
    overflow: hidden;
    border-style: solid;
    border-color: black;
    padding-bottom: 10px;
    border-width: 1px;
}

.a input[type=text] {
    float: left;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
}

ul.b {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}

ul.c {
    list-style-type: none;
    margin: 0px 5px;
    padding: 0;
    overflow: hidden;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}

li a {
    display: block;
    padding: 8px;
    padding-right: 15px;
    color: black;
    text-decoration: none;
    float: left;
    font-weight: 900;
    font-size: 18px;
}

li b {
    display: block;
    padding: 10px;
    padding-right: 16px;
    color: gray;
    text-decoration: none;
    float: left;
    font-size: 12px;
}

li c {
    display: block;
    padding-right: 2px;
    padding-left: 2px;
    font-size: 12px;
    text-decoration: underline;
}

.button1 {
    background-image: linear-gradient(#f3f2f2, white);
    border: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 5px;
    color: blue;
    padding: 16px 16px;
    padding-bottom: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 5px;
    cursor: pointer;
    font-weight: 900;
}

.button2 {
    background-image: linear-gradient(#f3f2f2, white);
    border: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 2px;
    color: gray;
    padding: 6px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 5px;
    cursor: pointer;
    font-weight: 900;
}

table {
    border-collapse: collapse;
    width: 40%;
}

th,
td {
    padding: 3px;
    text-align: left;
    font-size: 12px;
    padding-top: 5px;
}

li a:hover {
    color: blue;
}

li b:hover {
    background-color: #E8D15F;
    box-shadow: 0 3px 4px black;
    transition: box-shadow;
}

table {
    border-collapse: collapse;
    width: 40%;
}

th,
td {
    padding: 3px;
    text-align: left;
    font-size: 12px;
    padding-top: 5px;
}

input[type=text] {
    width: 70%;
    padding: 6px 10px;
    padding-left: 10px;
    margin-right: 0;
    border-radius: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.button3 {
    color: black;
    padding: 10px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.button4 {
    background-color: #96DBE9;
    border-color: black;
    border-width: 1px;
    border-style: outset;
    color: gray;
    padding: 6px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 5px;
    cursor: pointer;
}

.button5 {
    background-color: red;
    border-color: black;
    border-width: 1px;
    border-style: outset;
    color: black;
    padding: 50px 150px;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    margin: 20px 30px;
    cursor: pointer;
}

.coptions {
    display: none;
    position: absolute;
    min-width: 160px;
}

.coptions a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.coptions a:hover {
    background-color: black
}

.dropdown:hover .coptions {
    display: block;
}

table {
    border-collapse: collapse;
}

th,
td {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    font-size: 12px;
    padding-top: 5px;
}

#input {
    border-collapse: collapse;
    width: 0%;
    padding: 0px;
    margin: 0px;
    border-color: gray;
}

#input td,
#input th {
    padding: 3px;
    padding: 0px;
    margin: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
}